# Temporary files
*.tmp
*.temp
*~

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
logs
*.log

# Build outputs
build/
dist/

# IDE
.vs/
.idea/
*.suo
*.user

# vscode
.vscode/

# Avalon-rust
Avalon-rust/Avalon/.vscode

# test_file
test_file/

# data
data/

# node
node_modules/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# .claude
.claude/